@model TrojWebApp.Models.EmployeesModel

@{
    ViewData["Title"] = "Skapa personal";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Förnamn:</th>
                    <td>
                        <input asp-for="FirstName" size="50" class="font2" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Efternamn:</th>
                    <td>
                        <input asp-for="LastName" size="50" class="font2" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Initialer:</th>
                    <td>
                        <input asp-for="Initials" size="10" class="font2" />
                        <span asp-validation-for="Initials" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Mail:</th>
                    <td>
                        <input asp-for="MailAddress" size="50" class="font2" />
                        <span asp-validation-for="MailAddress" class="text-danger"></span>
                    </td>
                <tr>
                    <th class="head">Titel:</th>
                    <td>
                        <input asp-for="EmployeeTitle" size="50" class="font2" />
                        <span asp-validation-for="EmployeeTitle" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Skapa" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
