@model TrojWebApp.Models.EmployeesModel

@{
    ViewData["Title"] = "Ändra personal";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="EmployeeId" />
            </div>
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Förnamn:</th>
                    <td>
                        <input asp-for="FirstName" size="50" class="font2" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Efternamn:</th>
                    <td>
                        <input asp-for="LastName" size="50" class="font2" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Initialer:</th>
                    <td>
                        <input asp-for="Initials" size="10" class="font2" />
                        <span asp-validation-for="Initials" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Mail:</th>
                    <td>
                        <input asp-for="MailAddress" size="50" class="font2" />
                        <span asp-validation-for="MailAddress" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Titel:</th>
                    <td>

                        <input asp-for="EmployeeTitle" size="50" class="font2" />
                        <span asp-validation-for="EmployeeTitle" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Signaturlänk:</th>
                    <td>
                        <input asp-for="SignatureLink" size="10" class="font2" />
                        <span asp-validation-for="SignatureLink" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Företräda:</th>
                    <td>
                        <input asp-for="Represent" class="font2" />
                    </td>
                </tr>
                <tr>
                    <th class="head">Aktiv:</th>
                    <td>
                        <input asp-for="Active" class="font2" />
                    </td>
                </tr>
                <tr>
                    <th class="head">Bara läsa:</th>
                    <td>
                        <input asp-for="ReadOnly" class="font2" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Spara" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="row">
    <table class="col-md-12" nowrap>
        <tr>
            <td nowrap style="width: 100%;"></td>
            <td class="navbar-text navbar-right" nowrap>Ändrad: @string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.Changed) av: @Html.DisplayFor(model => model.ChangedBy)</td>
        </tr>
    </table>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
