<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <variable name="appName" value="${currentdir}/NLogs" />
  <variable name="layout" value="${longdate} | ${threadid} | ${pad:padding=5:inner=${level:uppercase=true}} ${right:inner=${logger}:length=45} | ${message} ${exception:format=ToString,StackTrace}" />

  <targets>
    <target name="activityLog" xsi:type="File" filename="${appName}\info.log" archiveFileName="${appName}\${shortdate}\info.{###}.log" archiveNumbering="Rolling" archiveOldFileOnStartup="true" layout="${var:layout}"/>
    <target name="debugLog" xsi:type="File" filename="${appName}\debug.log" archiveFileName="${appName}\${shortdate}\debug.{###}.log" archiveNumbering="Rolling" archiveOldFileOnStartup="true" layout="${var:layout}"/>
    <target name="traceLog" xsi:type="File" filename="${appName}\trace.log" archiveFileName="${appName}\${shortdate}\trace.{###}.log" archiveNumbering="Rolling" archiveOldFileOnStartup="true" layout="${var:layout}"/>
    <target name="errorLog" xsi:type="File" filename="${appName}\error.log" archiveFileName="${appName}\${shortdate}\error.{###}.log" archiveNumbering="Rolling" archiveOldFileOnStartup="true" layout="${var:layout}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${var:layout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="activityLog" />
    <logger name="*" minlevel="Debug" writeTo="debugLog" />
    <logger name="*" minlevel="Trace" writeTo="traceLog" />
    <logger name="*" minlevel="Error" writeTo="errorLog" />
  </rules>
</nlog>