@model TrojWebApp.Models.SubPageUsersViewModel
@{
    ViewData["Title"] = "Vill du radera användare?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-sm-2">
        <table border="0" class="table table-condensed table-no-border">
            <tr>
                <th class="head">Sida:</th>
                <td nowrap>
                    @Html.DisplayFor(model => model.Controller)/@Html.DisplayFor(model => model.Action)
                </td>
            </tr>
            <tr>
                <th class="head">Användare:</th>
                <td nowrap>
                    @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-1">
        <table border="0" class="table table-condensed table-no-border">
            <tr>
                <td>
                    <div class="form-group" nowrap>
                        <form asp-action="Delete">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="SubPageId" />
                            <input type="submit" value="Ja" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
                <td>
                    <div class="form-group" nowrap>
                        <form asp-action="Index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="submit" value="Nej" class="btn btn-secondary" />
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
