@model TrojWebApp.Models.PageUsers3Model
@{
    ViewData["Title"] = "Kopiera användare för huvudsidor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Lista", "Index")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Copy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Från:</th>
                    <td>
                        <select name="FromEmployeeId"
                                asp-for="EmployeeId" class="font2"
                                asp-items="@(new SelectList(ViewBag.Employees,"Value","Text"))">
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Till:</th>
                    <td>
                        <select name="ToEmployeeId"
                                asp-for="EmployeeId" class="font2"
                                asp-items="@(new SelectList(ViewBag.Employees,"Value","Text"))">
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Kopiera" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
